<html>
    <body style="margin: 50px;">
        <h1>Gallery</h1>
        <div class="row">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            <img src="https://media.istockphoto.com/id/1368263969/photo/dark-majestic-wave-cresting-in-golden-morning-light.jpg?s=612x612&w=0&k=20&c=kUUwfx2r4i2TLWHbav5gALVWGv-XESpcQIaDROPowsk=" class="img-fluid rounded m-2" alt="Responsive image">
            
        </div>

         
 </body>
</html>